.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  grid-area: "header";
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid {
  display: grid;
  /*grid-gap: 10px; */
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "slider map"
    "meta findings";
} 
.pic-slider {
  grid-area: slider;
  width: 80%;
  margin: 0 auto;
}
.pic-map {
  grid-area: map;
}
.pic-meta {
  grid-area: meta;
}

.pic-findings {
  grid-area: findings;
}
.ll-methodology p {
  max-width: 700px;
  margin: 15px auto 0;
}
.slick-slider {
  margin-top: 0;
}

.slick-slide img {
  border: none;
  /* width: 100%;
  max-width: 100%;
  height: auto; */
}
